kind: "DeploymentConfig"
apiVersion: "v1"
metadata:
  name: "{{sample}}"
spec:
  template:
    metadata:
      labels:
        name: "{{sample}}"
    spec:
      containers:
        - name: "{{sample}}"
          image: "{{sample}}:latest"
          ports:
            - containerPort: 8080
              protocol: "TCP"
            - containerPort: 8443
              protocol: "TCP"
  replicas: 1
  triggers:
    - type: "ConfigChange"
    - type: "ImageChange"
      imageChangeParams:
        automatic: true
        containerNames:
          - "{{sample}}"
        from:
          kind: "ImageStreamTag"
          name: "{{sample}}:latest"
  strategy:
    type: "Rolling"
  paused: false
  revisionHistoryLimit: 2
  minReadySeconds: 0