apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: health-block
  namespace: {{ namespace }}
spec:
  accessModes:
  - ReadWriteOnce
  storageClassName: glusterfs-storage-block
  resources:
    requests:
      storage: 10Gi

